*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}
head,body{
    width: 100%;
    height: 100%;
}
#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    background-color: white;
    border-radius: 50%;
}
#main{
    width: 100%;
    background-color: black;
}
#hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
}
#nav{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
#nav a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
}
#heading{
    margin-top: 100px;
}
#heading h1{
    margin-left: 30px;
    line-height: 1;
    opacity: .6;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
}
#heading #secodh1{
    margin-left: 230px;

}
.blocktext{
    width: fit-content;
    background-color: red;
}
.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 2vh;
}
#foot{
    margin-top: 100px;
    padding-right: 40px;
    width: 100%;
    position: absolute;
    bottom: 8%;
}
#foot h5{
    text-align: right;
    margin-top: .5vw;
    font-size: 1vw;
}
#foot2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 3%;
    gap: 40px
}
#foot2 a{
    color: white;
    text-decoration: none;
    font-size: 1vw;
    font-weight: 500;
    padding-left: 20px;
}
#foot2 #icon{
    display: flex;
    gap:5px;
    padding-right: 40px;
}
#foot2 .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #888;
}
#second{
    padding-right: 10vw;
    padding-left: 3vw;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    padding-top: 200px ;

}
.elem{
    position: relative;
    border-top: 1px solid #888;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 0vw;
}
.elem h1{
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 7.3vw;
    font-weight: 500;
}
.elemlast{
    border-bottom: 1px solid #888;

}
.elem img{
    position: absolute;
    z-index: 999;
    height: 140%;
    display: none;
}
#about{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10vw 10vw;
    gap:50px;
    padding-left: 40vw;
    
}
#about img{
    width: 200px;
}
#textabout{
    width: 25rem;
}
#textabout h5{
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 10px;
}
#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}
#textabout a {
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 100px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}
#subscribe{
    background-color: black;
    color: white;
    padding: 20px 30px;
    padding-bottom: 3vw ;
}
#subscribe h5{
    text-transform: uppercase;
    opacity: 0.7;
}
#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}
#fotter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 40px 30px;
}
#fotterleft{
    display: flex;
    gap: 20px;
}
#fotterright{
    display: flex;
    gap:30px
}
#fotter a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}